.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden{
  display: none
}



.project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
}

:root { /* color scheme */
  --primary-color: darkblue;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}

body {
overflow-x: hidden; /* to stop horizontal scroll*/
}

section {
  padding: 4.20px;
  scroll-margin-top: 4.20rem; /* to stop the anchor links disapparing behind sticky header */
}

h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px
}

/* general css end */

/* header css start */
header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 5.4rem;
  z-index: 9999;
}

header h1 {
  font-weight: bolder;
  font-size: 5vw;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--tertiary-color);
}

header a {
  text-decoration: none;
  color: var(--tertiary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 20px 50px;
  margin: 10px;
}

header nav ul li a {
  font-weight: bold;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 2.22vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* header css end */

/* footer css start */

footer {
  background: var(--secondary-color);
  width: 110%;
  margin: 0 -30px 0 0;
}

footer h2 {
    color: var(--tertiary-color);
    font-size: 3vw;
    padding: 30px;
}

/* footer css end */

/* about me css start */
.about {
  font-size: 5vh
}


form {
  width: 40%;
  justify-content: center;
  align-content: center;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  margin: .25rem;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.list-item {
  display:flex;
  flex: 1 1 auto;
  flex-direction: row;
  list-style: none;
  padding: 0px 50px;
  margin: 10px;
  /* padding: 0rem 4.20rem; */
}

.list-link {
  font-weight: bold;
  padding: 0px 15px;
  font-weight: lighter;
  font-size: 2.22vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: var(--tertiary-color);
}

.list-link:hover {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

button {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 15px;
  padding: 10px;
  border: none
}

button:hover {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  padding: 10px;
}

.handsome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 15rem;
  margin-bottom: 2rem;
}

.cursive {
  font-family: "garamond"
}

a {
  font-weight: bold;
  padding: 0px 15px;
  font-weight: lighter;
  font-size: 2.22vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: var(--tertiary-color);
}

h2 {
  font-family: "garamond";
  font-size: 1.55rem;
}

.namePlate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  margin-bottom: 10px;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

#resume-link {
  font-size: 2rem;
}

#contact-form {
  margin-left: 2rem;
}

.run-buddy {
  background-image: url(./assets/run-buddy.png);
}

.cat-genie {
  background-image: url(./assets/cat-genie.png);
}

.hungry-guys {
  background-image: url(./assets/hungry-guys.png);
}

.JATE {
  background-image: url(./assets/JATE.png);
}

.note-taker {
  background-image: url(./assets/note-taker.png);
}

.day-scheduler {
  background-image: url(./assets/day-scheduler.png);
}

.img{
  width: 26rem;
  height: 12rem;
  margin: 2vw;
  background-size: cover;
  background-position: center;
}

.img:hover {
  opacity: .5;

}

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.portfolio-link {
  color: yellow
}

.portfolio-link:hover {
  border: 1px solid black;
  background-color: grey;
  border-radius: 15px;
}